@import "tailwindcss";

@keyframes scale-in {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scale-in {
  animation: scale-in 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1b1b1b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3f3f3f;
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f3f #1b1b1b;
}